{% extends "base.html" %}

{% load bootstrap_pagination %}
{% load markdown %}

{% block content %}
    <h2>Student Destinations</h2>

    <p><b>Note</b>: All data is self-reported. We do not make any claim as to the accuracy of this data.</p>

    {% if college or search_query or GPA_MIN != '0' or GPA_MAX != '5' or SAT_MIN != '0' or SAT_MAX != '1600' or ACT_MIN != '0' or ACT_MAX != '36' or SELECTED_TEST_SCORES != ''%}
        <p>
            Only showing students 
            {% if college %}reporting applications to {{ college }} 
            {% if DECISION %} {{DECISION}} {% endif %}
            {% if ADMISSION %} - Admissions: {{ ADMISSION }}{% endif %}
            {% if search_query %}, {% endif %}{% endif %}
            {% if search_query %}
            matching {{ search_query }}
            {% if GPA_MIN != '0' or GPA_MAX != '5' %}, {% endif %} {% endif %} 
            {% if GPA_MIN != '0' or GPA_MAX != '5' %}
            with GPA from {{GPA_MIN}} to {{GPA_MAX}} 
            {% if SAT_MIN != '0' or SAT_MAX != '1600' %}, {% endif %}{% endif %}
            {% if SAT_MIN != '0' or SAT_MAX != '1600' %}
            with SAT scores from {{ SAT_MIN }} to {{ SAT_MAX }}
            {% if ACT_MIN != '0' or ACT_MAX != '36' %}, {% endif %} {% endif %}
            {% if ACT_MIN != '0' or ACT_MAX != '36' %} 
            with ACT scores from {{ ACT_MIN }} to {{ ACT_MAX }}
            {% if SELECTED_TEST_SCORES != ''%}, {% endif %} {% endif %}
            {% if SELECTED_TEST_SCORES != ''%}
                with the following test types: 
                {% for test_type in SELECTED_TEST_SCORES %}
                    {{ test_type }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
            .   
            Navigate <a href="{% url "destinations:students" %}">here</a> to reset.
        </p>
    {% endif %}
    
    <!-- Search bar -->
    <div class="container pb-3">
        <form method="get">
            <div class="form-floating mb-3">
                <div class="input-group">
                    <div class="input-group-text"><label for="search"><i class="fas fa-search" aria-label="Search"></i></label></div>
                    {% if college %}<input type="hidden" name="college" value="{{ college.id }}">{% endif %}
                    <input type="search" name="q" placeholder="Search" id="search" data-toggle="tooltip" data-bs-placement="bottom" title="Filter by first name, last name, and biography" aria-label="Search" class="form-control" value="{{ search_query }}">
                </div>
            </div>
        </form>
    </div>
    
    <!-- Filtering -->
    <div class="container pb-3">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#filterBar" aria-expanded="false" aria-controls="filterBar">
            <i class="fas fa-plus"></i> Filter Options
        </button>
        <div class="collapse pb-3" id="filterBar">
            <form method="get" class="py-3 px-1">
                <div>

                
                <div class="d-flex justify-content-between mb-3 gap-5">
                    <!-- GPA Range Filter -->
                    <div class="flex-grow-1 mb-3" style="flex-basis: 25%;">
                        <label for="gpa_min" class="form-label">GPA Range</label>
                        <div class="input-group">
                            <input type="number" step="0.01" name="gpa_min" id="gpa_min" class="form-control" placeholder="Min GPA" min="0" max="5" value="{{ GPA_MIN }}">
                            <span class="input-group-text">to</span>
                            <input type="number" step="0.01" name="gpa_max" id="gpa_max" class="form-control" placeholder="Max GPA" min="0" max="5" value="{{ GPA_MAX }}">
                        </div>
                    </div>
                
                    <!-- College Filter -->
                    <div class="flex-grow-2 mb-3" style="flex-basis: 50%;">
                        <label for="college" class="form-label">College</label>
                        <select id="college" name="college" class="form-control" data-dropup-auto="false" data-size="5" data-live-search="true">
                            <option value="">Select a college</option>
                            {% for college_temp in COLLEGES %}
                                
                                <option 
                                {% if college_temp.id|stringformat:"s" == request.GET.college %} selected {% endif %}
                                value="{{ college_temp.id }}">
                                {{ college_temp.name }} - {{ college_temp.location }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                
                    <!-- Decision Type Filter -->
                    <div class="d-flex flex-column mb-5 px-2" style="max-height: 300px; overflow-y: auto;  width: fit-content; flex-basis: 25%;">
                        <label for="decision" class="form-label">Decision Type</label>
                        {% for decision_type, decision_label in DECISIONS %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="decision" id="decision_score_{{ decision_type }}" value="{{ decision_type }}"  {% if decision_type in request.GET.decision %}checked{% endif %}>
                                <label class="form-check-label" for="decision_score{{ decision_type }}">
                                    {{ decision_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="d-flex mb-3 gap-5">
                    <!-- Admissions -->
                    <div class="d-flex flex-column mb-5 px-3" style="max-height: 300px; overflow-y: auto;  width: fit-content;"> 
                        <label for="gpa_min" class="form-label">Admissions Types</label>
                        {% for admit_type, admit_label in ADMISSIONS %}
                            
                            <div class="form-check">    
                                <input class="form-check-input" type="checkbox" name="admission" id="admit_score_{{ admit_type }}" value="{{ admit_type }}" {% if admit_type in request.GET.admission %}checked{% endif %}>
                                <label class="form-check-label" for="admit_score_{{ admit_type }}">
                                    {{ admit_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Tests -->
                    <div class="d-flex flex-column mb-5 px-3" style="max-height: 300px; overflow-y: auto;  width: fit-content;"> 
                        <label for="gpa_min" class="form-label">Test Types</label>
                        {% for test_type, test_label in TEST_TYPES %}
                            
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="test_score" id="test_score_{{ test_type }}" value="{{ test_type }}" {% if test_type in request.GET.test_score %}checked{% endif %}>
                                <label class="form-check-label" for="test_score_{{ test_type }}">
                                    {{ test_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    

                    <div class="d-flex flex-column mb-5 px-3" style="max-height: 300px; overflow-y: auto; width: 15em; min-width: fit-content; gap:4px;">
                        <!-- SAT Filter -->
                        <label for="sat_min">SAT Min Score:</label>
                        <input value="{{ SAT_MIN }}" type="number" id="sat_min" name="sat_min" min="0" max="1600" placeholder="Minimum SAT Score">

                        <label for="sat_max">SAT Max Score:</label>
                        <input value="{{ SAT_MAX }}" type="number" id="sat_max" name="sat_max" min="0" max="1600" placeholder="Maximum SAT Score">

                        <!-- ACT Filter -->
                        <label for="act_min">ACT Min Score:</label>
                        <input value="{{ ACT_MIN }}" type="number" id="act_min" name="act_min" min="0" max="36" placeholder="Minimum ACT Score">

                        <label for="act_max">ACT Max Score:</label>
                        <input value="{{ ACT_MAX }}" type="number" id="act_max" name="act_max" min="0" max="36" placeholder="Maximum ACT Score">

                        <!-- AP Filter
                        <label for="ap_min">AP Min Score:</label>
                        <input value="{{ AP_MIN }}" type="number" id="ap_min" name="ap_min" min="1" max="5" placeholder="Minimum AP Score">

                        <label for="ap_max">AP Max Score:</label>
                        <input value="{{ AP_MAX }}" type="number" id="ap_max" name="ap_max" min="1" max="5" placeholder="Maximum AP Score"> -->

                    </div>
                    
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>

    <div class="row py-3">
        <div class="col justify-content-center">
            {% bootstrap_paginate page_obj range=10 extra_pagination_classes="justify-content-center flex-wrap" %}
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-1">Name</th>
                    <th scope="col" class="col-1">GPA</th>
                    <th scope="col" class="col-3">Test scores</th>
                    <th scope="col" class="col-4">Biography</th>
                    <th scope="col" class="col-3">Decisions</th>
                </tr>
            </thead>
            <tbody>
                {% for senior in object_list %}
                    <tr class="d-flex">
                        <td class="col-1">{{ senior }}</td>
                        <td class="col-1">{% firstof senior.GPA "" %}</td>
                        <td class="col-3">
                            {# Test scores #}
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Test</th>
                                        <th scope="col">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for score in senior.testscore_set.all %}
                                        <tr>
                                            <td>{{ score.get_exam_type_display }}</td>
                                            <td>{{ score.exam_score }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td>There are no test scores to display.</td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td class="text-wrap text-break col-4" style="min-width: 25%;"><div id="biography">{{ senior.biography|markdown|safe }}</div></td>
                        <td class="col-3">
                            {# Decisions #}
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Type<br>Result</th>
                                        <th scope="col">College Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for decision in senior.decision_set.all %}
                                        <tr>
                                            <td class="d-flex-inline">
                                                <span class="justify-content-center d-flex pb-1" data-toggle="tooltip" title="{{ decision.get_decision_type_display }}" aria-label="{{ decision.get_decision_type_display }}">{{ decision.decision_type }}</span>
                                                <div class="justify-content-center d-flex">
                                                    {# First, the deferred indicator #}
                                                    {% if "DEFER" in decision.admission_status %}
                                                        <i class="fas fa-clock ps-1" data-toggle="tooltip" title="Deferred" aria-label="Deferred"></i>
                                                    {% endif %}
                                                    {# Now, the waitlist indicator #}
                                                    {% if "WAITLIST" in decision.admission_status or "WL" in decision.admission_status %}
                                                        <i class="fas fa-clipboard-list ps-1" data-toggle="tooltip" title="Waitlisted" aria-label="Waitlisted"></i>
                                                    {% endif %}
                                                    {# Admits #}
                                                    {% if "ADMIT" in decision.admission_status %}
                                                        {# Accepts get a different check #}
                                                        {% if senior.attending_decision == decision %}
                                                            <i class="fas fa-check-double ps-1" data-toggle="tooltip" title="Accepted, attending" aria-label="Accepted, attending"></i>
                                                        {% else %}
                                                            <i class="fas fa-check ps-1" data-toggle="tooltip" title="Accepted" aria-label="Accepted"></i>
                                                        {% endif %}
                                                    {% endif %}
                                                    {# Rejects #}
                                                    {% if "DENY" in decision.admission_status %}
                                                        <i class="fas fa-times ps-1" data-toggle="tooltip" title="Denied" aria-label="Denied"></i>
                                                    {% endif %}
                                                    {# Unknown #}
                                                    {% if "UNKNOWN" in decision.admission_status %}
                                                        <i class="fas fa-question ps-1" data-toggle="tooltip" title="Unknown" aria-label="Unknown"></i>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td>{{ decision.college.name }}<br>{{ decision.college.location }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td>There are no decisions to display.</td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>There is no data to display.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row py-3">
        <div class="col justify-content-center">
            {% bootstrap_paginate page_obj range=10 extra_pagination_classes="justify-content-center flex-wrap" %}
        </div>
    </div>

{% endblock %}

